<!DOCTYPE html>
<html lang="en">

  <head>
    <title>DevX Workgroup - {{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/go.min.js"></script>
    <script>hljs.highlightAll();</script>

  </head>

  <body>
    {% include templates/header.liquid %}
    <main>{{ content }}</main>
    {% include templates/footer.liquid %}
  </body>

</html>