<header>
  <h1>DevX Workgroup</h1>
  <nav>
    <a href="/">Home</a>
    {% if language == "en" %}
      <a href="/en/posts">Posts</a>
    {% else %}
      <a href="/fr/posts">Posts</a>
    {% endif %}
    {% if language == "fr" %}
      <a href="/en/{% if page.fileSlug != "fr" %}{{ page.fileSlug }}{% endif %}"><span>FR</span> | EN</a>
    {% else %}
      <a href="/{% if page.fileSlug != "en" %}fr/{{ page.fileSlug }}{% endif %}">FR | <span>EN</span></a>
    {% endif %}
  </nav>
</header>