body {
    /* background-color: #f5f5f5; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 60px;

    position: fixed;
    top: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: white;
}

header > nav {
    display: flex;
    gap: 20px;
}

header > nav > a {

    transition-duration: 0.5s;

    text-decoration: none;
    color: var(--heading-color);

    border-bottom: 2px solid transparent;
}

header > nav > a:hover {
    border-color: var(--heading-color);
}

header > nav > a > span {
    border-bottom: 2px solid black;
}
header > nav:last-child a:hover {
    border-color: transparent;
}

main{
    flex: 1;

    margin-top: 60px;
    
    width: 900px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

section > article {
    border: 1px solid lightgray;
    border-radius: 5px;

    padding: 10px;
    /* margin-bottom: 10px; */

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section > article:hover {
    background-color: whitesmoke;
}

section > article a {
    text-decoration: none;
    color: black;
    z-index: 1;
}

section > article a::after{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
}

section > article h3 {
    margin: 0px;
}

footer {
    margin-top: 40px;
    min-height: 60px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 35px;
}

footer > img {
    height: 60px;
}

table {
    border:none;
    border-collapse: collapse;

    border-bottom: 1px solid lightgray;
}

table th {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

table td, th {
    padding: 10px;

    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

/* table td:first-child {
    border-left: none;
}
table th:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}
table th:last-child {
    border-right: none;
} */
